aiofiles==23.1.0
alembic==1.11.2
asyncpg==0.28.0
fastapi==0.100.0
Jinja2==3.1.2
httpx==0.24.1
prometheus-fastapi-instrumentator==6.1.0
prometheus-client==0.17.1
psycopg2==2.9.6
pydantic==2.1.1
pytest==7.4.0
python-dotenv==1.0.0
python-json-logger==2.0.2
python-multipart==0.0.6
SQLAlchemy==2.0.19
urllib3==2.0.4
uvicorn==0.23.1
uvloop==0.17.0